body, html {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: rgb(46, 64, 65);
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #2b3d4d;
  }

#grid-container {
  /* width: 100vw; */
  height: 90%;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.grid-item {
  /* width: auto;
  height: auto; */
  display: flex;
  border-radius: 10px;
  background-color: #eadfd6;
  margin: .5rem;
  /* box-shadow: rgba(118, 126, 129, 0.814) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.299) 0px -3px 5px;
}

h1 {
  font-size: 3rem;
  padding: 0rem;
  margin: 0rem;
}

h2 {
  font-size: 2rem;
  margin: 0rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  /* font-size:larger; */
  color: #2b3d4d;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

.grid-item:nth-of-type(1) {
  background-color: #eadfd6;
  grid-column: 1 / 2;
  grid-row: 1 / 16;
}

.sidebar {
  flex-direction: column;
  align-items: center;
}


.grid-item:nth-of-type(2) {
  grid-column: 2 / 12;
  grid-row: 1 / 4;
  /* transform: translate(-50px, 50px) */
  /* position: relative; */
  /* left: -50px;
  bottom: -50px; */
}

.grid-item:nth-of-type(3) {
  grid-column: 12 / 15;
  grid-row: 1 / 8;
  /* z-index: 99; */
  /* place-self: center; */
  /* position: relative; */
}

.grid-item:nth-of-type(4) {
  grid-column: 2 / 7;
  grid-row: 4 / 10;
  padding: 1rem;
}

.grid-item:nth-of-type(5) {
  grid-column: 7 / 12;
  grid-row: 4 / 10;
  padding: 1rem;
}

.grid-item:nth-of-type(6) {
  grid-column: 2 / 7;
  grid-row: 10 / 16;
  padding: 1rem;
}

.grid-item:nth-of-type(7) {
  grid-column: 7 / 12;
  grid-row: 10 / 16;
  padding: 1rem;
}

.grid-item:nth-of-type(8) {
  grid-column: 12 / 16;
  grid-row: 8 / 16;
  align-items: center;
  flex-direction: column;
  font-size: larger;
}

.grid-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
}

.grid-icon {
  width: auto;
  height: 3rem;
}

.avatar {
  width: auto;
  height: 9rem;
  margin-top: 1rem;
  place-self: center;
  border: thick solid #52718d;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
  margin: 0rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  padding-top: 1rem;
}

.detail {
  padding-left: 1.7rem;
}

.side-icon {
  height: auto;
  width: 4vw;
  place-self: center;
  justify-content: space-evenly;
  padding-top: 3rem;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(139, 159, 162, 0.803));
  cursor: pointer;
}

.friends-list {
  overflow: scroll;
}

.list-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  background-color: #eadfd6;
  width: 100%;
}

.friend {
  height: 5rem;
  width: auto;
  border: thin solid #52718d;
  border-radius: 50%;
  margin-right: 1rem;
}

.friend-info {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
  align-items: center;
}

.friend-name {
  margin: 0rem;
}

p {
  margin: 0rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

/* 🚰 Hydration Grid 💧 */
.hydration-grid {
  /* width: 100vw; */
  display: grid;
  height: 37%;
  /* margin: 2rem; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 2rem;
}

.water-grid {
  display: flex;
  place-self: center;
  margin-bottom: 1rem;
}

.water-icon {
  width: auto;
  height: 3rem;
  cursor: pointer;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(139, 159, 162, 0.803));
}

.hydration-stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  font-size: larger;
}

 /* 📆 Calendar 📆 */
.calendar-container {
  background: #997c80;
  margin: 0rem;
  width: 90%;
  max-height: 27vh;
  border-radius: 10px;
  place-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: .5rem 4rem 0rem 4rem;
  justify-content: center;
  font-size: larger;
}

.calendar-navigation  {
  display: flex;
  align-items: center;
}

.calendar-navigation span {
  width: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.calendar-navigation span:hover {
  background: #bfd1dd7c;
  border-radius: 50%;
}

.calendar-current-date header {
  font-weight: 500;
  /* font-size: 1.45rem; */
}

.calendar-body {
  /* padding: 20px; */
  margin: 0rem;
  padding: 0rem;
  place-self: center;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  margin: 0rem;
  padding: 0rem;
  /* align-items: center; */
  /* text-align: center; */
}

.calendar-body .calendar-dates {
  margin-bottom: 2rem;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.2vh;
  color: #eadfd6;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  /* margin-top: 30px; */
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #52718d;
}

.calendar-dates li:not(.active):hover::before {
  background: #bfd1dd7c;
}