body, html {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: rgb(46, 64, 65);
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  }

#grid-container {
  /* width: 100vw; */
  height: 90%;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.grid-item {
  /* width: auto;
  height: auto; */
  display: flex;
  border-radius: 10px;
  margin: .5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-item span { 
  margin: auto;
  font-size: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
}
.grid-item:nth-of-type(1) {
  background-color: #e76f51;
  grid-column: 1 / 2;
  grid-row: 1 / 8;
}

.grid-item:nth-of-type(2) {
  background-color: #e9c46a;
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  /* transform: translate(-50px, 50px) */
  /* position: relative; */
  /* left: -50px;
  bottom: -50px; */
}

.grid-item:nth-of-type(3) {
  background-color: #2a9d8f;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  /* z-index: 99; */
  /* place-self: center; */
  /* position: relative; */
}

.grid-item:nth-of-type(4) {
  background-color: #6d2a9d;
  grid-column: 4 / 6;
  grid-row: 2 / 4;
}

.grid-item:nth-of-type(5) {
  background-color: #9d2a45;
  grid-column: 6 / 8;
  grid-row: 2 / 6;
}

.grid-item:nth-of-type(6) {
  background-color: #6d7936;
  grid-column: 2 / 6;
  grid-row: 4 / 8;
}

.grid-item:nth-of-type(7) {
  background-color: #4985b0;
  grid-column: 6 / 8;
  grid-row: 6 / 8;
}